.jumbotronStyle {
    height:50vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: #292929 !important;
}

.homepageHeader {
    color: white;
    font-size:xxxxxx-large;
}

.pageStyle {
    background-color: #292929;
}
.listStyle {
    background-color: #343A40 !important;
    color: white;
}
