.jumbotronStyle {
    height:50vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: #292929 !important;
    margin-top: 32px;
}

.homepageHeader {
    color: white;
}

.pageStyle {
    background-color: #292929;
}
.listStyle {
    background-color: #343A40 !important;
    color: white;
}

h3 {
    color: white;
    background-color: #343A40;
    margin-bottom: 0px !important;
}

.descriptionText {
    color:white;
}

.containerStyle {
    background-color: #292929 !important;
}

.twitterStyle {
    border-color: transparent;
    background-color: #292929 !important;
}