.imageStyle {
    max-width: 70%;
    height: auto;
  }
  .cardStyle {
    color: white;
    background-color: #454d55 !important;
  }
  .listStyle {
    background-color: #343A40 !important;
  }
  .buttonStyle {
    background-color: #3183d4 !important;
    border-color: #3183d4 !important;
  }